# DataScience tools and Ecosystem

In this notebook Datascience tools and Ecosystem are summarised.

**Objectives :**
* List of popular Data science languages
* Data science catagories list
* Various libraries in Datascience

Some of the popular languages that DataScientists use are:
1. Phyton
2. SQL
3. R

Some of the commonly used libraries by Data scientists include:
1. Numpy
2. Matplotlib
3. tensorflow

|Data science Tools|
|-------------|
|jupyter|
|jupyter Lab|
|R-studio|

### Below are few examples of evaluating arithmetic expression in phyton.

In [6]:
# this is a simple arithmetic expression to multiply then add integer
(3*4)+5

17

In [7]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bisrat